@import 'bower_components/vui-colors/colors.scss';
@import 'bower_components/vui-typography/small-text.scss';
@import 'bower_components/vui-typography/px-to-base-rem.scss';
@import 'table-icons.scss';

@mixin vui-table() {
	background-color: #ffffff;
	border: 1px solid $vui-color-titanius;
	border-collapse: separate;
	border-radius: px-to-base-rem(6);
	border-spacing: 0;
	display: table;
	width: 100%;

	& thead {
		display: table-header-group;

		& th {
			@include vui-table-header-cell();
		}
	}

	& tfoot {
		& tr:first-child td {
			border-top: 1px solid $vui-color-titanius;
		}
		& tr:first-child th {
			border-top: 1px solid $vui-color-titanius;
		}
		display: table-footer-group;
	}

	& tr {
		display: table-row;
	}

	& tr:last-child td {
		border-bottom: none;
	}

	& td,
	  tbody th,
	  tfoot th {
		@include vui-table-cell();
	}

	& tr>:last-child {
		border-right: none;
		[dir='rtl'] & {
			border-right: 1px solid $vui-color-titanius;
		}
	}

	[dir='rtl'] & tr>:first-child {
		border-right: none;
	}

	//Correct for corners bleeding outside the rounded corners
	& thead > tr:first-child > :first-child,
	  tbody:only-child > tr:first-child > :first-child,
	  tfoot:first-child + tbody:last-child > tr:first-child > :first-child,
	  caption:first-child + tbody:last-child > tr:first-child > :first-child,
	  caption:first-child + tfoot + tbody:last-child > tr:first-child > :first-child,
	  caption:first-child + colgroup + tbody:last-child > tr:first-child > :first-child,
	  caption:first-child + colgroup + tfoot + tbody:last-child > tr:first-child > :first-child,
	  colgroup:first-child + tbody:last-child > tr:first-child > :first-child,
	  colgroup:first-child + tfoot + tbody:last-child > tr:first-child > :first-child {
		@include vui-table-top-border-radius('left');
	}
	& thead > tr:first-child > :last-child,
	  tbody:only-child > tr:first-child > :last-child,
	  tfoot:first-child + tbody:last-child > tr:first-child > :last-child,
	  caption:first-child + tbody:last-child > tr:first-child > :last-child,
	  caption:first-child + tfoot + tbody:last-child > tr:first-child > :last-child,
	  caption:first-child + colgroup + tbody:last-child > tr:first-child > :last-child,
	  caption:first-child + colgroup + tfoot + tbody:last-child > tr:first-child > :last-child,
	  colgroup:first-child + tbody:last-child > tr:first-child > :last-child,
	  colgroup:first-child + tfoot + tbody:last-child > tr:first-child > :last-child {
		@include vui-table-top-border-radius('right');
	}
	& thead:only-child > tr:last-child > :first-child,
	  tfoot > tr:last-child > :first-child,
	  tbody:only-child > tr:last-child > :first-child,
	  thead + tbody:last-child > tr:last-child > :first-child,
	  caption + tbody:last-child > tr:last-child > :first-child,
	  colgroup + tbody:last-child > tr:last-child > :first-child {
		@include vui-table-bottom-border-radius('left');
	}
	& thead:only-child > tr:last-child > :last-child,
	  tfoot > tr:last-child > :last-child,
	  tbody:only-child > tr:last-child > :last-child,
	  thead + tbody:last-child > tr:last-child > :last-child,
	  caption + tbody:last-child > tr:last-child > :last-child,
	  colgroup + tbody:last-child > tr:last-child > :last-child {
		@include vui-table-bottom-border-radius('right');
	}

	& thead:only-child > tr:last-child th,
	  tfoot tr:last-child th,
	  tbody:last-child > tr:last-child > th {
			border-bottom: none;
	}

	& > tbody > tr:hover {
		@include vui-table-row-selected();
	}
}

@mixin vui-table-header-cell() {
	@include vui-table-cell();
	@include vui-typography-small-text();
	background-color: $vui-color-regolith;
}

@mixin vui-table-cell() {
	border-bottom: 1px solid $vui-color-titanius;
	border-right: 1px solid $vui-color-titanius;
	display: table-cell;
	font-weight: 300;
	padding: px-to-base-rem(10) px-to-base-rem(30);
	text-align: left;
	vertical-align: middle;

	[dir='rtl'] & {
		text-align: right;
	}
}

@mixin vui-table-column-sort( $direction:'asc') {
	white-space: nowrap;

	&::after {
		display: inline-block;
		@if $direction == 'desc' {
			content: $vui-table-sort-desc;
		} @else {
			content: $vui-table-sort-asc;
		}
	}
}

@mixin vui-table-bottom-border-radius($side){
	@if $side == 'left' {
		border-bottom-left-radius: px-to-base-rem(6);
		[dir='rtl'] & {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: px-to-base-rem(6);
		}
	} @else {
		border-bottom-right-radius: px-to-base-rem(6);
		[dir='rtl'] & {
			border-bottom-right-radius: 0;
			border-bottom-left-radius: px-to-base-rem(6);
		}
	}
}

@mixin vui-table-top-border-radius($side){
	@if $side == 'left' {
		border-top-left-radius: px-to-base-rem(6);
		[dir='rtl'] & {
			border-top-left-radius: 0;
			border-top-right-radius: px-to-base-rem(6);
		}
	} @else {
		border-top-right-radius: px-to-base-rem(6);
		[dir='rtl'] & {
			border-top-right-radius: 0;
			border-top-left-radius: px-to-base-rem(6);
		}
	}
}

@mixin vui-table-row-selected($important:false){
	background-color: if($important, $vui-color-celestine-light-1 !important, $vui-color-celestine-light-1);
	outline: 2px solid $vui-color-celestine-light-2;
	outline-offset: -1px;
}