@import 'bower_components/vui-colors/colors.scss';
@import 'bower_components/vui-typography/typography.scss';
@import 'bower_components/vui-typography/px-to-base-rem.scss';

@mixin vui-table() {

	border: 1px solid $vui-color-titanius;
	border-collapse: separate;
	border-radius: px-to-base-rem(6);
	border-spacing: 0;
	display: table;
	width: 100%;

	& thead {
		display: table-header-group;
	}

	& tfoot {
		& tr:first-child td {
			border-top: 1px solid $vui-color-titanius;
		}
		display: table-footer-group;
	}

	& tr {
		display: table-row;
	}

	& td {
		border-bottom: 1px solid $vui-color-titanius;
		border-right: 1px solid $vui-color-titanius;
		padding: px-to-base-rem(10) px-to-base-rem(30);
		display: table-cell;
		vertical-align: middle;
	}
	& tr td:last-child {
		border-right: none;
	}
	& tr:last-child td {
		border-bottom: none;
	}

	& th {
		@include vui-typography-small-text();
		background-color: $vui-color-regolith;
		background-clip: padding-box;
		padding: px-to-base-rem(10) px-to-base-rem(30);
		border-bottom: 1px solid $vui-color-titanius;
		border-right: 1px solid $vui-color-titanius;
		vertical-align: middle;
	}
	& tr th:last-child {
		border-right: none;
	}
	//Correct for corners bleeding outside the rounded corners
	& tr:first-child th:first-child {
		border-top-left-radius: px-to-base-rem(6);
	}
	& tr:first-child th:last-child {
		border-top-right-radius: px-to-base-rem(6);
	}

	//Apply hover to only rows that are not thead, tfoot or have the class .vui-table-header or .vui-table-footer
	& *:not(thead):not(tfoot) tr:hover:not(.vui-table-header):not(.vui-table-footer) {
		outline: 1px solid $vui-color-celestine;
		background-color: $vui-color-celestine-light-1;
	}
}