@import 'bower_components/vui-colors/colors.scss';
@import 'bower_components/vui-typography/small-text.scss';
@import 'bower_components/vui-typography/px-to-base-rem.scss';
@import 'table-icons.scss';

@mixin vui-table() {
	background-color: #ffffff;
	border-collapse: separate;
	border-spacing: 0;
	display: table;
	width: 100%;

	& thead {
		display: table-header-group;

		& th {
			@include vui-table-header-cell();
		}
	}

	& tfoot {
		display: table-footer-group;
	}

	& tr {
		display: table-row;
	}

	& td,
	  tbody th,
	  tfoot th {
		@include vui-table-cell();
	}

	& tr > :first-child {
		border-left: 1px solid $vui-color-titanius;

		[dir='rtl'] & {
			border-left: 0;
		}
	}

	[dir='rtl'] & tr > :last-child {
		border-left: 1px solid $vui-color-titanius;
	}

	//Correct for corners bleeding outside the rounded corners
	& thead > tr:first-child > :first-child,
	  tbody:only-child > tr:first-child > :first-child,
	  tfoot:first-child + tbody:last-child > tr:first-child > :first-child,
	  caption:first-child + tbody:last-child > tr:first-child > :first-child,
	  caption:first-child + tfoot + tbody:last-child > tr:first-child > :first-child,
	  caption:first-child + colgroup + tbody:last-child > tr:first-child > :first-child,
	  caption:first-child + colgroup + tfoot + tbody:last-child > tr:first-child > :first-child,
	  colgroup:first-child + tbody:last-child > tr:first-child > :first-child,
	  colgroup:first-child + tfoot + tbody:last-child > tr:first-child > :first-child {
		@include vui-table-top-border-radius('left');
	}
	& thead > tr:first-child > :last-child,
	  tbody:only-child > tr:first-child > :last-child,
	  tfoot:first-child + tbody:last-child > tr:first-child > :last-child,
	  caption:first-child + tbody:last-child > tr:first-child > :last-child,
	  caption:first-child + tfoot + tbody:last-child > tr:first-child > :last-child,
	  caption:first-child + colgroup + tbody:last-child > tr:first-child > :last-child,
	  caption:first-child + colgroup + tfoot + tbody:last-child > tr:first-child > :last-child,
	  colgroup:first-child + tbody:last-child > tr:first-child > :last-child,
	  colgroup:first-child + tfoot + tbody:last-child > tr:first-child > :last-child {
		@include vui-table-top-border-radius('right');
	}

	& thead:only-child > tr:last-child > th,
	  tfoot > tr:last-child > th,
	  tfoot > tr:last-child > td,
	  tbody:only-child > tr:last-child > td,
	  tbody:only-child > tr:last-child > th,
	  thead + tbody:last-child > tr:last-child > td,
	  thead + tbody:last-child > tr:last-child > th,
	  caption + tbody:last-child > tr:last-child > td,
	  caption + tbody:last-child > tr:last-child > th,
	  colgroup + tbody:last-child > tr:last-child > th,
	  colgroup + tbody:last-child > tr:last-child > td {
		border-bottom: 1px solid $vui-color-titanius;
	}

	& thead:only-child > tr:last-child > :first-child,
	  tfoot > tr:last-child > :first-child,
	  tbody:only-child > tr:last-child > :first-child,
	  thead + tbody:last-child > tr:last-child > :first-child,
	  caption + tbody:last-child > tr:last-child > :first-child,
	  colgroup + tbody:last-child > tr:last-child > :first-child {
		@include vui-table-bottom-border-radius('left');
	}
	& thead:only-child > tr:last-child > :last-child,
	  tfoot > tr:last-child > :last-child,
	  tbody:only-child > tr:last-child > :last-child,
	  thead + tbody:last-child > tr:last-child > :last-child,
	  caption + tbody:last-child > tr:last-child > :last-child,
	  colgroup + tbody:last-child > tr:last-child > :last-child {
		@include vui-table-bottom-border-radius('right');
	}

	& tfoot > tr:first-child> td,
	  tfoot > tr:first-child> th {
		  border-top: none;
	  }

	& > tbody:last-child > tr:last-child > td,
	  > tbody:last-child > tr:last-child > th, {
		border-bottom: 1px solid $vui-color-titanius;
	}

	& > tbody > tr:hover  {
		@include vui-table-row-selected();
	}

	& > tbody > tr:last-child:hover td,
	  > tbody > tr:last-child:hover th,
	  > tbody > tr:last-child.vui-table-row-selected td,
	  > tbody > tr:last-child.vui-table-row-selected th, {
		border-bottom-color: $vui-color-celestine-light-2 !important;
	}

	& > tbody > tr:hover + tr > td,
	& > tbody > tr:hover + tr > th {
		border-top-color: $vui-color-celestine-light-2;
	}
}

@mixin vui-table-header-cell() {
	@include vui-table-cell();
	@include vui-typography-small-text();
	background-color: $vui-color-regolith;
}

@mixin vui-table-cell() {
	border-top: 1px solid $vui-color-titanius;
	border-right: 1px solid $vui-color-titanius;
	display: table-cell;
	font-weight: 300;
	padding: px-to-base-rem(10) px-to-base-rem(30);
	text-align: left;
	vertical-align: middle;

	[dir='rtl'] & {
		text-align: right;
	}
}

@mixin vui-table-column-sort( $direction:'asc') {
	white-space: nowrap;

	&::after {
		display: inline-block;
		vertical-align: middle;

		@if $direction == 'desc' {
			content: $vui-table-sort-desc;
		} @else {
			content: $vui-table-sort-asc;
		}
	}
}

@mixin vui-table-bottom-border-radius($side){
	@if $side == 'left' {
		border-bottom-left-radius: px-to-base-rem(6);
		[dir='rtl'] & {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: px-to-base-rem(6);
		}
	} @else {
		border-bottom-right-radius: px-to-base-rem(6);
		[dir='rtl'] & {
			border-bottom-right-radius: 0;
			border-bottom-left-radius: px-to-base-rem(6);
		}
	}
}

@mixin vui-table-top-border-radius($side){
	@if $side == 'left' {
		border-top-left-radius: px-to-base-rem(6);
		[dir='rtl'] & {
			border-top-left-radius: 0;
			border-top-right-radius: px-to-base-rem(6);
		}
	} @else {
		border-top-right-radius: px-to-base-rem(6);
		[dir='rtl'] & {
			border-top-right-radius: 0;
			border-top-left-radius: px-to-base-rem(6);
		}
	}
}

@mixin vui-table-row-selected($important:false){
	background-color: if($important, $vui-color-celestine-light-1 !important, $vui-color-celestine-light-1);

	& :first-child {
		border-left-color: $vui-color-celestine-light-2 !important;
	}
	[dir='rtl'] & :first-child {
		border-right-color: $vui-color-celestine-light-2;
		border-left-color: $vui-color-titanius;
	}
	& :last-child {
		border-right-color: $vui-color-celestine-light-2;
	}
	[dir='rtl'] & :last-child {
		border-left-color: $vui-color-celestine-light-2 !important;
		border-right-color: $vui-color-titanius;
	}
	& td, th {
		border-top-color: $vui-color-celestine-light-2 !important;
	}

	& + tr > td,
	& + tr > th {
		border-top-color: $vui-color-celestine-light-2 !important;
	}
}