@import url(https://s.brightspace.com/lib/fonts/0.3.0/fonts.css);

html {
	font-size: 20px;
}
body {
	font-family: 'Lato', sans-serif;
	line-height: 1.5;
	margin: 1rem;
}

:root {
	font-size: 20px;
}

.screenshots {
	display: inline-block;
}
