{
  "env": {
    "es6": false
  },
  "globals": {
    "load": true,
    "$page": true,
    "GalenPages": true,
    "forAll": true,
    "checkLayout": true,
    "dumpPage": true,
    "afterTest": true
  }
}
